.foot {
    position: absolute;
    height: 2.14285em;
    font-size: 0.85714rem;
    line-height: 2.14285em;
    background-color: #F7F7F7;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}